.homePage {
 position: relative;
 color: white;
}

.comp {
 min-height: 100vh;
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 justify-content: center;
}

.hello {
 font-size: 3rem;
 color: white;
 margin-left: 25%;
}

.name {
 font-size: 3rem;
 margin-left: 30%;
}

.job {
 font-size: 3.5rem;
 flex-wrap: wrap;
}

.im {
 font-size: 1rem;
 margin-left: 37%;
 margin-top: 20px;
 font-style: italic;
}

.comp {
 background: url(../images/technology.jpg) no-repeat center center fixed;
 background-size: cover;
}

@media screen and (max-width: 850px) {
 .name {
  font-size: 30px;
 }
 .job {
  font-size: 30px;
 }
}

/* @media screen and (min-width: 300px) {
 .name {
  font-size: 2rem;
 }
 .job {
  font-size: 3.5rem;
 }
} */

/* @media screen and (max-width: 600px) {
 .name {
  font-size: 30px;
 }
 .job {
  font-size: 30px;
 }
} */

@media screen and (min-width: 320px) and (max-width: 580px) {
 .comp {
  background: url(../images/technology.jpg) repeat-x;
 }
}
